<div class="login-form">
	<% if flash[:alert] %>
		<p id="notice" ><%= flash[:alert] %></p>
	<% end %>
	
	<%= form_tag do %>
		<fieldset>
			<legend>Logga in</legend>
			
			<div>
				<label for="username">Användarnamn:</label>
				<%= text_field_tag :username, params[:username] %>
			</div>

			<div>
				<label for="password">Lösenord</label>
				<%= password_field_tag :password, params[:password] %>
			</div>

			<div>
				<%= submit_tag "Logga in" %>
			</div>
		</fieldset>
	<% end %>
</div>

