<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @vecktor_notice.title %>
</p>

<p>
  <b>Text:</b>
  <%= @vecktor_notice.text %>
</p>

<p>
  <b>Signature:</b>
  <%= @vecktor_notice.signature %>
</p>


<%= link_to 'Edit', edit_vecktor_notice_path(@vecktor_notice) %> |
<%= link_to 'Back', vecktor_notices_path %>
