<h1>Vecktorer</h1>

<p>
Vecktorn är F-sektionens nyhetsbrev som ges ut sent på kvällen varje läsmåndag.
</p>

<p>
Kontakta 
<%= link_to "Sanningsminister #{@sanning.real_name}", @sanning %>
om du vill ha med en notis i Vecktorn. Deadline är kl. 
<%= @deadline %>.
</p>

<ul>
<% @year_vecktors.each do |year, vecktors| %>
  <h2 id="<%= year %>">
    <%= year %>
  </h2>
  <% vecktors.each do |vecktor| %>
    <li>
      <b><%= link_to vecktor, vecktor %></b>
      (<%= link_to 'Ändra', edit_vecktor_path(vecktor) %> |
      <%= link_to 'Förinta', vecktor, confirm: 'Är du säker?', method: :delete %>)
    </li>
  <% end %>
<% end %>
</ul>

<br />

<%= link_to 'Ny vecktor', new_vecktor_path %>
