<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Vecktorn &mdash; nr. <%= @vecktor.issue %> <%= @vecktor.date.year %>

  <b>Year:</b>
  <%= @vecktor.year %>
</p>

<p>
  <b>Issue:</b>
  <%= @vecktor.issue %>
</p>

<p>
  <b>Editor:</b>
  <%= @vecktor.editor %>
</p>

<p>
  <b>Responsible publisher:</b>
  <%= @vecktor.responsible_publisher %>
</p>


<%= link_to 'Edit', edit_vecktor_path(@vecktor) %> |
<%= link_to 'Back', vecktors_path %>
