<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Vecktorn, <%= @vecktor.date %></h1>
<p>Utgiven av F-sektionen inom TLTH. </p>
<p>Redaktör: 
  <%= @vecktor.editor %>
</p>
<p>Ansvarig Utgivare:
  <%= @vecktor.publisher %>
<p>Årgång:
  <%= @vecktor.year %>,
   Nummer: 
  <%= @vecktor.issue %>
</p>

<% @vecktor.notices.each do |notice| %>
  <h2><%= notice.title %></h2>
  <%= raw(markdown notice.text) %>
  <p><em><%= notice.signature %></em></p>
<% end %>

