<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Vecktorn, <%= @vecktor.date %></h1>
<p>Utgiven av F-sektionen inom TLTH. </p>
<p>Redaktör: 
  <%= @vecktor.editor ? link_to(@vecktor.editor, @vecktor.editor) : @vecktor.editor_name %>
</p>
<p>Ansvarig Utgivare:
  <%= @vecktor.publisher ? link_to(@vecktor.publisher, @vecktor.publisher) : @vecktor.publisher_name %>
</p>
<p>Årgång:
  <%= @vecktor.year %>,
   Nummer: 
  <%= @vecktor.issue %>
</p>

<% @vecktor.notices.each do |notice| %>
  <h2><%= notice.title %></h2>
  <%= raw(markdown notice.text) %>
  <p><em><%= notice.author ? link_to(notice.signature, notice.author) : notice.signature %></em></p>
<% end %>

<br />
