<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, 'Användarnamn' %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <% if @current_method == "new" %>
  <div class="field">
    <%= f.label :password, 'Lösenord' %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Bekräfta lösenord' %><br />
    <%= f.password_field :password_confirmation %>
  </div> 
  <% end %>
  <div class="field">
    <%= f.label :real_name, 'Riktigt Namn' %><br />
    <%= f.text_field :real_name %>
  </div>
  <p>Roller</p>
  <% for role in Role.all %>
    <div>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
      <%= role.title %>
    </div>
  <% end %>
  <br />
  <div class="actions">
    <%= f.submit 'Uppdatera' %>
  </div>
<% end %>
