<% if @user.photo? %>
  <%= image_tag @user.photo.url(:small), :class => 'user-photo' %>
<% end %>

<h1><%= @user.to_s_fstyle %> 
   (<%= @user.username  %>)</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Roller:</b>
  <ul>
    <% @user.roles.each do |role| %>
      <li><%= link_to role.title, role %>
    <% end %>
  </ul>
</p>

<p class="controls">
<% if can? :manage, @user %>
  <%= link_to 'Ändra', edit_user_path(@user) %> |
  <%= link_to 'Förinta', @user, confirm: 'Är du säker?', method: :delete %> |
<% end %>
<%= link_to 'Tillbaka', users_path %>
</p>
