<% unless @bare %>
  <% if can? :create, News %> 
    <div class=framed>
    <h3><%= link_to 'Skriv en ny nyhet', new_news_path %></h3>
    </div>
    <br>
  <% end %> 
<% end %>

<% @news.each do |news| %>
  <div class="news" id="news-<%= news.id %>">
    <h2>
    <%= link_to news.title, news %>
    </h2>
    <p><em>Postat av 
    <%= link_to news.user.real_name, news.user %>, 
    <%= l news.created_at.to_date %></em></p>

    <%= raw(markdown(news.text)) %>
    <% if can? :update, news  %>
      <%= controls news, :show => false %>
      <br>
    <% end %>
  </div>
<% end %>

