<% @news.each do |news| %>
    <div class="news" id="<%= news.title %>">
    <h2><%= news.title %></h2>
    <p>
    <%= news.text %>
    </p>
    <ul>
    <li><%= link_to 'Visa', news %></li>
    <li><%= link_to 'Redigera', edit_news_path(news) %></li>
    <li><%= link_to 'Förinta', news, :confirm => 'Are you sure?', :method => :delete %></li>
    </ul>
<% end %>
</table>

<br />

<h3><%= link_to 'Skriv en ny nyhet', new_news_path %></h3>
