<% @news.each do |news| %>
  <div class="news">
    <h2 id="<%= id_escape(news.title) %>">
    <%= link_to news.title, news %>
    </h2>
    <p><em>Postat av 
    <%= link_to news.user.real_name, news.user %>, 
    <%= l news.created_at.to_date %></em></p>

    <%= raw(markdown(news.text)) %>
    <% if can? :update, news  %>
      <%= controls news, :show => false %>
      <br>
    <% end %>
  </div>
<% end %>

<br />
<h3><%= link_to 'Ny nyhet', new_news_path if can? :create, News %></h3>
