<% @news.each do |news| %>
  <div class="news">
    <h2 id="<%= id_escape(news.title) %>">
    <%= link_to news.title, news %>
    </h2>
    <p><em>Postat av 
    <%= link_to news.user.real_name, news.user %>, 
    <%= fmt_time(news.created_at) %></em></p>

    <%= raw(markdown(news.text)) %>
    <p class="news-controls">
    <% if can? :modify, News %>
      |
      <%= link_to 'Ändra', edit_news_path(news) %> |  
      <%= link_to 'Förinta', news, :confirm => 'Är du säker?', :method => :delete %>
    <% end %>
    </p>
  </div>
<% end %>

<br />
<h3><%= link_to 'Ny nyhet', new_news_path if can? :create, News %></h3>
