<p id="notice"><%= notice %></p>

<h2><%= @news.title %></h2>

<%= @news.text %>

<br/>

<%= link_to 'Ändra', edit_news_path(@news) %> |
<%= link_to 'Förinta', @news, :confirm => 'Är du säker?', :method => :delete %>
<%= link_to 'Tillbaka', news_index_path %> |
