<p id="notice"><%= notice %></p>

<p>
  <b>Var:</b>
  <%= @setting.var %>
</p>

<p>
  <b>Value:</b>
  <%= @setting.value %>
</p>

<p>
  <b>Thing:</b>
  <%= @setting.thing_id %>
</p>

<p>
  <b>Thing type:</b>
  <%= @setting.thing_type %>
</p>


<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
