<h1>Sidor</h1>

<h3>
  <%= link_to 'Ny sida...', new_page_path %>
</h3>

<br>

<table class=index>
  <tr>
    <th>Rubrik</th>
    <th>URL-er</th>
    <th>Författare</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td>
      <% page.names.each do |name| %>
        <%= name %><br>
      <% end %>
    </td>
    <td><%= link_to page.original_author %></td>
    <td><%= controls page %></td>
  </tr>
<% end %>
</table>

<br />

