<h1>Roller</h1>

<% @roles.each do |role| %>
  <h2 id="<%= id_escape role.tag %>">
    <%= role.title %>
  </h2>
  <!-- <em><%= role.tag %></td></em> -->
  <!-- <%= role.description %> -->
  <ul>
  <% role.users.each do |user| %>
    <li><%= link_to user.real_name, user %></li>
  <% end %>
  </ul>
  <p class="controls">
  <%= link_to 'Visa', role %> |
  <%= link_to 'Ändra', edit_role_path(role) %> |
  <%= link_to 'Förinta', role, confirm: 'Är du säker?', method: :delete %>
  </p>
<% end %>

<br />

<%= link_to 'Ny roll', new_role_path %>
